@scope=http://registry.npmjs.com/
//registry.npmjs.com/:_password=<BASE64_PASSWORD>
//registry.npmjs.com/:username=<USERNAME>
//registry.npmjs.com/:email=<EMAIL>
//registry.npmjs.com/:always-auth=true
registry=http://registry.npmjs.com/