@scope=https://registry.npmjs.com/
//registry.npmjs.com/:_password=<Q0hFTkdsb25nMTIz>
//registry.npmjs.com/:username=<the-long>
//registry.npmjs.com/:email=<1019856367@qq.com>
//registry.npmjs.com/:always-auth=true
registry=https://registry.npmjs.com/